# Dependencies
/node_modules

# Build
/dist

# Coverage reports
/coverage

# Angular cache
/.angular

# IDE
/.idea
*.swp
*.swo

# OS
.DS_Store

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*